<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/cssgrid.css">
    <title>Register</title>
</head>

<body>

<section>

    <div id="textbox">
        <h3 class="title">Register</h3>

        <form th:action="events.html">

            <input type="text" name="lastname" placeholder="first name">
            <br><br>

            <input type="text" name="lastname" placeholder="last name">
            <br><br>

            <input type="text" name="lastname" placeholder="city">
            <br><br>

            <input type="text" name="lastname" placeholder="phone number">
            <br><br>
            <input type="submit" value="Submit">
        </form>

    </div>

</section>


</body>

</html>